@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #013220;
  color: #ffffff;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.carousel {
  text-align: center;
  justify-content: center;
  padding: 16px;
  position: relative;
}
.carousel__title .carousel__titleheader {
  background-color: #004b23;
  color: #f0f0e9;
  padding: 0.5rem 1.5rem;
  border: 2px solid #ffc107;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  margin-bottom: 20px;
}
.carousel__title .carousel__secondTitle {
  margin-top: 20px;
  display: block;
  font-family: "Recoleta", serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
  color: #ffffff;
}
.carousel__track-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}
.carousel__track {
  display: flex;
  transition: transform 0.5s ease;
  padding: 0px;
}
.carousel__slide {
  flex: 0 0 20%;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #013220;
  border-radius: 10px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  max-width: 270px;
}
.carousel__content {
  text-align: left;
  padding: 20px;
}
.carousel__header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.carousel__image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.carousel__leftHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.carousel__nameAndStar {
  display: flex;
  align-items: center;
  gap: 5px;
}
.carousel__name {
  font-family: "Playwrite DE Grund", cursive;
  font-weight: bold;
  font-size: 1rem;
}
.carousel__details {
  font-size: 0.9rem;
  color: gray;
}
.carousel__description {
  margin: 10px 0;
  font-size: 0.9rem;
  max-width: 240px;
  text-align: left;
}
.carousel__stars {
  color: #ffc107;
  font-size: 1.25rem;
}
.carousel__buttons {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  gap: 20px;
  padding-top: 20px;
}
.carousel__buttons .carousel__button {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  font-weight: 600;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.carousel__buttons .carousel__button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.carousel__buttons .carousel__button--left, .carousel__buttons .carousel__button--right {
  position: static;
}
.carousel__indicators {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.carousel__indicators .carousel__indicator {
  width: 10px;
  height: 10px;
  background-color: lightgray;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .carousel__slide {
    flex: 0 0 45%;
  }
  .carousel__buttons {
    gap: 10px;
  }
}
@media (max-width: 480px) {
  .carousel__slide {
    flex: 0 0 100%;
  }
  .carousel__buttons {
    gap: 8px;
  }
  .carousel__title {
    font-size: 1rem;
  }
  .carousel__title span {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
